.article {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    line-height: 1.6;
    margin-bottom: 50px;
    padding: 20px;
    /* border: 1px solid #ddd; */
}

.article-title {
    color: var(--dark-color);
    margin-bottom: 10px;
}

.article-date  {
    font-size: 0.9rem;
    color: #999;
    margin-bottom: 20px;
}

.article-content {
    font-size: 1.1rem;
    color: var(--dark-color);
    margin-bottom: 20px;
}

.article-content p {
    margin-bottom: 10px;
}

#article-back {
    color: var(--dark-color);
    font-weight: bold;
    text-decoration: none;
}

#article-back:hover {
    color: var(--link-color-hover);
}


/* DARK MODE */
body.dark {
    background-color: var(--dark-color);
    color: var(--light-color);
}

body.dark .article-title {
    color: var(--light-color);
}

body.dark .article-date {
    color: #aaa;
}

body.dark .article-content {
    color: var(--light-color);
}

body.dark #article-back {
    color: var(--light-color);
}

body.dark #article-back:hover {
    color: var(--link-color-hover);
}
