.article-date {
    font-size: 0.9rem;
    color: #999;
}

.article-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.article-title a {
    color: #000;
    text-decoration: none;
}

.article-title a:hover {
    color: #008cff;
}

.article-description {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

/* DARK MODE */
body.dark .article-date {
    color: #f5f5f5;
}

body.dark .article-title a {
    color: #f5f5f5;
}

body.dark .article-title a:hover {
    color: #008cff;
}

body.dark .article-description {
    color: #f5f5f5;
}