body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
    height: 100vh;
}

nav {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
}

nav a:hover {
    color: #0077cc;
    transition: color 0.2s ease-in-out;
}

footer {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 10px;
    background-color: #333;
    color: #f8f8f8;
}