<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../files/img/favicon/favicon.ico">

    <title>{{title}}</title>
    <meta name="description" content="{{description}}">

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:url" content="{{url}}">
    <meta property="og:image" content="{{og_image}}">

    <link rel="alternate" type="application/rss+xml" title="Cengiz Ozel" href="/feed.xml">

    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/project.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <script>document.body.className = localStorage.getItem('theme') || 'light';</script>

    <div class="project">
        <h2 class="project-title">{{title}}</h2>
        <p class="project-type">{{type}}</p>

        <img class="project-thumbnail" src="../../files/img/projects/{{thumbnail}}" alt="{{title}}"><br>

        <div class="project-content">{{content}}</div>

        <a href="../../pages/projects.html" id="project-back">← Go back</a>
    </div>

    <footer></footer>

    <script src="../../js/footer.js"></script>
</body>

</html>
